<%= form_with(model: comment, url: article_comment_path(comment.article, comment), local: true, id: "edit-comment-#{comment.id}") do |form| %>
  <div class="card-body">
    <%= form.text_area :body, class: "form-control" %>
  </div>
  <div class="card-footer d-flex justify-content-end">
    <%= form.submit "保存", class: "btn btn-success me-2" %>
    <%= link_to "キャンセル", article_path(comment.article), class: "btn btn-secondary" %>
  </div>
<% end %>