<div class="row mb-3" id="comment-form">
  <div class="mt-5 mb-5 pt-5">
    <%= form_with model: comment, url: article_comments_path(@article) do |f| %>
      <%= f.label :body, "コメント投稿" %>
      <%= f.text_area :body, class: "form-control mb-3", rows: 4 %>
      <div class="text-end">
        <%= f.submit "投稿", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>