<% content_for(:title, t('.title')) %>
<div class="container">
  <div class="row">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= "編集" %></h1>
      <%= render 'form', article: @article %>
  <div class="d-flex justify-content-start">
  <%= link_to "戻る", article_path(@article), class: "btn btn-secondary" %>
</div>