<div class="container pt-3">
  <div class="row">
    <h1>検索</h1>
    <div class="row mb-5">
      <%= render 'search_form', q: @q, url: articles_path %>
    </div>
    <div class="row">
      <% if @articles.present? %>
        <h1>記事一覧</h1>
        <%= render @articles %>
      <% else %>
        <div class="mb-3">掲示板がありません</div>
      <% end %>
    </div>
  </div>
</div>