<nav class="navbar navbar-expand-lg" style="background-color: #A9D0F5;">
  <%= link_to "Grade Fes Unit Hub", articles_path, class: "navbar-brand fs-3", style: "margin-left: 10px;" %>

  <div class="ms-auto" style="margin-right: 10px; display: flex;">
    <%= link_to "ユーザー登録", new_user_path, class: "nav-link me-4" %>
    <%= link_to "ログイン", login_path, class: "nav-link" %>
  </div>
</nav>