<nav class="navbar navbar-expand-lg" style="background-color: #A9D0F5;">
  <div class="me-auto" style="margin-left: 40px; display: flex;">
    <%= link_to "利用規約", terms_path, class: "nav-link me-5" %>
    <%= link_to "プライバシーポリシー", policy_path, class: "nav-link me-5" %>
    <%= link_to "お問い合わせ", "https://x.com/tsumitoro", target: "_blank", class: "nav-link" %>
  </div>
</nav>