<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>プライバシーポリシー</h1>
      </div>

      <h2>1. 収集する情報</h2>
      <p>当掲示板サイト（以下、「本サイト」 ）では、以下の情報を収集することがあります。</p>
      <ul>
        <li>ユーザーが登録時に提供する情報（メールアドレス、ユーザー名、パスワード）</li>
        <li>掲示板への投稿内容、コメント</li>
      </ul>

      <h2>2. 情報の利用目的</h2>
      <p>収集した情報は、以下の目的で使用します。</p>
      <ul>
        <li>本サイトの運営および改善</li>
        <li>ユーザーサポートやお問い合わせ対応</li>
        <li>不正利用の防止やセキュリティの向上</li>
      </ul>

      <h2>3. 情報の第三者提供</h2>
      <p>本サイトは営利を目的としておりません。そのため、以下の場合を除き、ユーザーの個人情報を第三者に提供することはありません。</p>
      <ul>
        <li>ユーザーの同意がある場合</li>
        <li>法令に基づき開示が求められた場合</li>
      </ul>

      <h2>4. データの管理とセキュリティ</h2>
      <p>収集した情報は、適切なセキュリティ対策を講じた上で管理し、不正アクセスや情報漏えいの防止に努めます。</p>

      <h2>5. ユーザーの権利</h2>
      <p>ユーザーは、自身の個人情報の開示、訂正、削除を求めることができます。ご希望の場合は、お問い合わせください。</p>

      <h2>6. プライバシーポリシーの変更</h2>
      <p>本ポリシーの内容は、必要に応じて変更されることがあります。変更後のポリシーは、本サイト上に掲載した時点で効力を生じます。</p>

      <h2>7. Cookie（クッキー）の利用について</h2>
      <p>当サイトでは、ログイン状態の維持やセキュリティ対策のために、セッションCookieを利用しています。これらのCookieはサービス提供に必要なものであり、ユーザーの同意なく利用しています。</p>
      <p>ユーザーはブラウザの設定でCookieの受け入れ拒否や削除が可能ですが、その場合はログインが必要な機能が正常に動作しないことがありますのでご了承ください。</p>

      <h2>8. お問い合わせ</h2>
      <p>本ポリシーに関するお問い合わせは、下記X(旧Twitter)アカウントまでお願いいたします。</p>
      <p><a href="https://x.com/tsumitoro" target="_blank">つみとろ(@tumitoro)</a></p>

      <p><strong>【最終更新日】2025年7月5日</strong></p>
    </div>
  </div>
</div>