<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>利用規約</h1>
      </div>

      <h2> 第1条（目的）</h2>
      <p>本規約は、当掲示板サイト（以下、「本サイト」 ）の利用に関する条件を定めるものであり、ユーザーは本規約に同意の上、本サイトを利用するものとします。</p>

      <h2>第2条（利用者の責任）</h2>
      <p>ユーザーは、本サイトの利用にあたり、以下の行為を行ってはならないものとします。</p>
      <ul>
        <li><a href="https://www.bandainamcoent.co.jp/info/videopolicy/" target="_blank">「バンダイナムコエンターテインメントゲーム実況ポリシー」</a>に反する行為</li>
        <li>法令または公序良俗に違反する行為</li>
        <li>他の利用者または第三者の権利を侵害する行為</li>
        <li>不正アクセスやサーバへの攻撃行為</li>
        <li>無断で広告や宣伝を行う行為</li>
        <li>その他、運営者が不適切と判断する行為</li>
      </ul>

      <h2>第3条（コンテンツの取り扱い）</h2>
      <p>
      本サイトは「バンダイナムコエンターテインメントゲーム実況ポリシー」に則り運営をしております。本サイト内で使用されるコンテンツの著作権は全て当該サービスの提供元に帰属します。
      そのコンテンツを除く、ユーザーが本サイトに投稿したコンテンツの著作権はユーザーに帰属します。ただし、ユーザーは投稿することにより、掲示板運営者に対しそのコンテンツを無償で利用、表示、複製、修正する権利を付与するものとします。
      </p>

      <h2>第4条（プライバシー）</h2>
      <p>運営者は、ユーザーから取得した個人情報をプライバシーポリシーに基づき適切に管理します。</p>

      <h2>第5条（免責事項）</h2>
      <p>本サイトは、ユーザー間で発生したトラブルや損害について一切責任を負いません。</p>

      <h2>第6条（規約の変更）</h2>
      <p>本規約は、運営者の判断により変更することができます。変更後の規約は本サイト上に掲示され、掲示日から効力を生じます。</p>

      <h2>お問い合わせ</h2>
      <p>X(旧Twitter) <a href="https://x.com/tsumitoro" target="_blank">つみとろ(@tumitoro)</a></p>

      <p><strong>【最終更新日】2025年2月25日</strong></p>
    </div>
  </div>
</div>